<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Image Index</title>
</head>
<body>
    <form action="/" method="GET">
        <input type="text" name="search" value="<%= searchQuery %>" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
    <div class="gallery">
    <% thumbnails.forEach(thumb => { %>
        <div class="thumbnail">
            <%= thumb.dir %><br>
            <a href="/images/<%= thumb.dir %>/<%= thumb.name.replace('_G', '').replace('.jpg', '.tif') %>"><img src="<%= thumb.path %>" alt="<%= thumb.name %>">
            <br><%= thumb.name.replace('.jpg', '').replace('_G', '') %></a>
        </div>
    <% }); %>
    </div>
</body>
</html>
